h1{
    text-align: center;
    margin: 0.5rem 0;
    font-size: 3rem;
    background: linear-gradient(90deg, rgba(63,174,174,1) 0%, rgba(25,118,210,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;   
}

form{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 3rem;
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 5rem;
}

label{
    font-size: 0.9rem;
    color: darkslategrey;
    font-weight: bold;
    margin-bottom: 0.3rem;
    align-items: center;
    justify-content: center;
    min-width: fit-content;
    white-space: nowrap;
}

input, select{
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 4px;
    width: 15rem;
}

input:focus, select:focus{
    outline: none;
    border-color: rgb(63, 174, 174);
    box-shadow: 0 0 5px rgba(63, 174, 174, 0.5);
}

.submit{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background: linear-gradient(90deg, rgba(63,174,174,1) 0%, rgba(25,118,210,1) 100%);
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.submit:hover{
    color: #fff;
    box-shadow: 0 4px 12px rgba(25, 118, 210, 0.15);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.2s;
    transform: translateY(-2px) scale(1.10);
}

.form-row{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1200px) {
    form {
        max-width: 60%;
        padding: 2rem;
    }

    .form-row {
        gap: 1rem;
        flex-direction: column;
    }
    input, select {
        width: 20rem;
    }
    h1 {
        font-size: 2.8rem;
    }
}


@media (max-width: 600px) {
    form {
        max-width: 98%;
        padding: 1rem;
        box-shadow: none;
    }
    .form-row {
        flex-direction: column;
        gap: 0.5rem;
        align-items: stretch;
        justify-content: flex-start;
        width: 100%;
    }
    input, select {
        width: 100%;
        font-size: 1rem;
    }
    h1 {
        font-size: 2rem;
        margin: 1rem 0;
    }
    .submit {
        width: 100%;
        font-size: 1rem;
    }
}
