{% extends 'base.html' %}

{% load static %}
{% block title %}Iniciar Sesión{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
  <div class="login-container">
  <div class="main-container">
      
      <!-- CONTENEDOR IZQUIERDO -->
      <div class="left">
        <div class="logo">
          <img src="{% static 'images/llave_mx.svg' %}" alt="Llave MX" class="icono">
        </div>
        <h2>El acceso a tu<br><span>identidad digital</span></h2>
        <p>
          Consulta servicios y programas del gobierno en un sólo lugar.
          Realiza y da seguimiento a trámites en línea, sin filas ni traslados.
        </p>
      </div>

      <!-- CONTENEDOR DERECHO -->
      <div class="right">
        <form method="POST" class="login-box">
          {% csrf_token %}
          
          {% if form.non_field_errors %}
            <div class="error-message">
              {{ form.non_field_errors }}
            </div>
          {% endif %}
          
          <label for="username">Usuario</label>
          <input type="text" id="username" name="username" placeholder="Usuario" value="{{ form.username.value|default:'' }}">
          {% if form.username.errors %}
            <span class="error">{{ form.username.errors }}</span>
          {% endif %}
          <a href="#" class="link">¿Olvidaste tu usuario?</a>
          
          <label for="password">Contraseña</label>
          <div class="password-container">
            <input type="password" id="password" name="password" placeholder="Contraseña">
          </div>
          {% if form.password.errors %}
            <span class="error">{{ form.password.errors }}</span>
          {% endif %}
          <a href="#" class="link">¿Olvidaste tu contraseña?</a>
          
          <!-- CAPTCHA -->
          <label for="id_captcha_1">Verificación</label>
          {{ form.captcha }}
          {% if form.captcha.errors %}
            <span class="error">{{ form.captcha.errors }}</span>
          {% endif %}
          
          <button type="submit" class="btn-outline">Iniciar sesión</button>
        </form>
      </div>

    </div>
  </div>
{% endblock %}
