{% extends 'base.html' %}
{% load static %}
{% block title %}Ticket de Turno{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/ticket_turno.css' %}">
{% endblock %}

{% block content %}
 <h1>Generar ticket de turno</h1>
    <form>
        {% csrf_token %}
        <div class="form-row">
            <label for="full_name_request">Nombre completo de quien realiza el trámite:*</label>
            <input type="text" id="full_name_request" name="full_name_request" placeholder="Ingrese nombre solicitante" required>

            <label for="curp">CURP:*</label>
            <input type="text" maxlength="18" id="curp" name="curp" placeholder="Máx. 18 caracteres" required>
        </div>

        <div class="form-row">
            <label for="student_name">Nombre:*</label>
            <input type="text" id="student_name" name="student_name" placeholder="Ingrese nombre del alumno" required>

            <label for="last_name1">Apellido Paterno:*</label>
            <input type="text" id="last_name1" name="last_name1" placeholder="Ingrese apellido paterno" required>

            <label for="last_name2">Apellido Materno:*</label>
            <input type="text" id="last_name2" name="last_name2" placeholder="Ingrese apellido materno" required>
        </div>

        <div class="form-row">
            <label for="telephone">Teléfono:*</label>
            <input type="tel" maxlength="10" id="telephone" name="telephone" placeholder="10 caracteres" required>

            <label for="cellphone">Celular:*</label>
            <input type="tel" maxlength="10" id="cellphone" name="cellphone" placeholder="10 caracteres" required>

            <label for="email">Correo:*</label>
            <input type="email" id="email" name="email" placeholder="ejemplo@dominio.com" required>
        </div>

        <div class="form-row">
            <label for="level">Nivel al que desea ingresar o que ya cursa el alumno: *</label>
            <select name="level" id="level">
                <option value="" disabled selected>Seleccione un nivel</option>
                {% for nivel in niveles %}
                    <option value="{{ nivel.id }}">{{ nivel.nombre }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-row">
            <label for="city">Municipio donde desea estudie el alumno: *</label>
            <select name="city" id="city">
                <option value="" disabled selected>Seleccione un municipio</option>
                {% for municipio in municipios %}
                    <option value="{{ municipio.id }}">{{ municipio.nombre }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-row">
            <label for="issue">Seleccione el asunto que va a tratar: *</label>
                <select name="issue" id="issue">
                    <option value="" disabled selected>Seleccione un asunto</option>    
                    {% for asunto in asuntos %}
                        <option value="{{ asunto.id }}">{{ asunto.descripcion }}</option>
                    {% endfor %}
                </select>
        </div>

        <button class="submit" type="submit">Generar Turno</button>
        <p>* Campos obligatorios</p>

    </form>
{% endblock %}

{% block extra_scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Obtener inputs, selects y botón
        const form = document.querySelector("form");
        const fullNameRequest = document.getElementById('full_name_request');
        const curp = document.getElementById('curp');
        const studentName = document.getElementById('student_name');
        const lastName1 = document.getElementById('last_name1');
        const lastName2 = document.getElementById('last_name2');
        const telephone = document.getElementById('telephone');
        const cellphone = document.getElementById('cellphone');
        const email = document.getElementById('email');
        const level = document.getElementById('level');
        const city = document.getElementById('city');
        const issue = document.getElementById('issue');
        const submitButton = document.querySelector("button[type='submit']");

        submitButton.addEventListener("click", async function(event) {
            // Validar campos
            let isValid = true;
            let errorMessage = "";

            if (!validateFullNameRequest()) {
                isValid = false;
                errorMessage += "-El nombre completo del solicitante debe tener entre 3 y 80 caracteres y solo contener letras y espacios.<br>";
            }

            if (!validateCURP()) {
                isValid = false;
                errorMessage += "-El CURP no es válido. Debe seguir el formato correcto.<br>Ejemplo: ABCD123456HDFRRL09<br>";
            }

            if (!validateStudentName()) {
                isValid = false;
                errorMessage += "-El nombre del estudiante debe tener entre 3 y 50 caracteres y solo contener letras y espacios.<br>";
            }

            if (!validateLastName1()) {
                isValid = false;
                errorMessage += "-El primer apellido debe tener entre 3 y 30 caracteres y solo contener letras y espacios.<br>";
            }

            if (!validateLastName2()) {
                isValid = false;
                errorMessage += "-El segundo apellido debe tener entre 3 y 30 caracteres y solo contener letras y espacios.<br>";
            }

            if (!validateTelephone()) {
                isValid = false;
                errorMessage += "-El teléfono debe contener exactamente 10 dígitos.<br>";
            }

            if (!validateCellphone()) {
                isValid = false;
                errorMessage += "-El celular debe contener exactamente 10 dígitos.<br>";
            }

            if (!validateEmail()) {
                isValid = false;
                errorMessage += "-El correo electrónico no es válido.<br>Ejemplo: usuario@ejemplo.com<br>";
            }

            if (level.value === "") {
                isValid = false;
                errorMessage += "-Debe seleccionar un nivel de estudios.<br>";
            }

            if (city.value === "") {
                isValid = false;
                errorMessage += "-Debe seleccionar un municipio.<br>";
            }

            if (issue.value === "") {
                isValid = false;
                errorMessage += "-Debe seleccionar un motivo de solicitud.<br>";
            }

            if (!isValid) {
                event.preventDefault();
                Swal.fire({
                    icon: 'error',
                    title: 'Error en el formulario',
                    html: errorMessage,
                    confirmButtonText: 'Corregir'
                });
            }

            if (isValid) {
                event.preventDefault(); // Evitar el envío real del formulario para demostración
                const formData = new FormData(document.querySelector('form'));
                let url = `{% url 'post_ticket' %}`;
                const req = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': formData.get('csrfmiddlewaretoken')
                    },
                    body: formData
                });
                const responseData = await req.json();
                if (!req.ok) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error al enviar el formulario',
                        text: responseData.message,
                        confirmButtonText: 'Aceptar'
                    });
                    return;
                }
                const result = await Swal.fire({
                    icon: 'success',
                    title: 'Formulario válido',
                    text: responseData.message,
                    confirmButtonText: 'Ir al detalle del ticket'
                });
                if (result.isConfirmed){
                    // Enviar a los detalles del ticket
                    const ticketId = responseData.ticket_id;
                    let detailUrl = "{% url 'get_ticket_id' ticket_id=0 %}";
                    detailUrl = detailUrl.replace("/0/", `/${ticketId}/`);
                    window.location.href = detailUrl;
                }
            }
        });
});

function validateFullNameRequest() {
    const fullNameRequest = document.getElementById('full_name_request');
    const regex = /^[a-zA-ZÀ-ÿ\s]{3,80}$/;
    return regex.test(fullNameRequest.value);
}

function validateCURP() {
    const curp = document.getElementById('curp');
    const regex = /^[A-Z]{4}\d{6}[HM][A-Z]{5}[A-Z0-9]\d$/;
    return regex.test(curp.value);
}

function validateStudentName() {
    const studentName = document.getElementById('student_name');
    const regex = /^[a-zA-ZÀ-ÿ\s]{3,50}$/;
    return regex.test(studentName.value);
}

function validateLastName1() {
    const lastName1 = document.getElementById('last_name1');
    const regex = /^[a-zA-ZÀ-ÿ\s]{3,30}$/;
    return regex.test(lastName1.value);
}

function validateLastName2() {
    const lastName2 = document.getElementById('last_name2');
    const regex = /^[a-zA-ZÀ-ÿ\s]{3,30}$/;
    return regex.test(lastName2.value);
}

function validateTelephone() {
    const telephone = document.getElementById('telephone');
    const regex = /^\d{10}$/;
    return regex.test(telephone.value);
}

function validateCellphone() {
    const cellphone = document.getElementById('cellphone');
    const regex = /^\d{10}$/;
    return regex.test(cellphone.value);
}

function validateEmail() {
    const email = document.getElementById('email');
    const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    return regex.test(email.value);
}


</script>
{% endblock %}